/*Fonts*/
 @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;0,700;1,600;1,700&display=swap');
 

/*Variables */

:root {
  --light-text: #ffffff;
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --h-outline:  hsl(217, 16%, 45%);
  --bg-grad-1: hsl(214, 47%, 23%);
  --bg-grad-2: hsl(237, 49%, 15%);
  --scissors-gd-1: hsl(39, 89%, 49%);
  --scissors-gd-2: hsl(40, 84%, 53%);
  --paper-gd-1: hsl(230, 89%, 62%);
  --paper-gd-2: hsl(230, 89%, 65%);
  --rock-gd-1: hsl(349, 71%, 52%);
  --rock-gd-2: hsl(349, 70%, 56%);
  --lizard-gd-1: hsl(261, 73%, 60%);
  --lizard-gd-2: hsl(261, 72%, 63%);
  --spock-gd-1: hsl(189, 59%, 53%);
  --spock-gd-2: hsl(189, 58%, 57%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: radial-gradient(at top, var(--bg-grad-1), var(--bg-grad-2));
  min-height: 100vh;
  text-transform: uppercase;
}

/* Game-Header */

.container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 70%;
  height: 150px;
  border: 3px solid var(--h-outline);
  border-radius: 22px;
  padding: 1rem 1.5rem 1rem 2rem;
  margin-left: 15%;
}

.logo img {
  height: 100%;
}


.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  width: 150px;
  height: 100%;
  line-height: 1;
}

.score-title {
font-size: 1.1rem;
letter-spacing: 0.1em;
color: var(--score-text);
}

.score-number {
  font-size: 4rem;
  font-weight: 700;
  color: var(--dark-text);
}


/*Game*/

.game {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
    "rock rock scissors paper paper"
    "lizard lizard lizard spock spock";

  place-items: center;
  height: 40rem;
  padding-top: 5rem;
}

.game::before {
content: '';
position: absolute;
width: 50%;
height: 50%;
left: 39%;
top: 35%;
background: url('./images/bg-pentagon.svg') no-repeat;
z-index: -1;

}

.option-btn{
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}


.option-btn {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.option-btn::before {
  content: '';
  position: absolute;
  left: -15%;
  top: -15%;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  z-index: -1;
  
}

.option-btn[data-option="paper"]::before {
  background: linear-gradient(to bottom, var(--paper-gd-1), var(--paper-gd-2));
}

.option-btn[data-option="scissors"]::before {
  background: linear-gradient(to bottom, var(--scissors-gd-1), var(--scissors-gd-2));
}

.option-btn[data-option="rock"]::before {
  background: linear-gradient(to bottom, var(--rock-gd-1), var(--rock-gd-2));
}
.option-btn[data-option="lizard"]::before {
  background: linear-gradient(to bottom, var(--lizard-gd-1), var(--lizard-gd-2));
}

.option-btn[data-option="spock"]::before {
  background: linear-gradient(to bottom, var(--spock-gd-1), var(--spock-gd-2));
}

.option-btn[data-option="scissors"] {
  grid-area: scissors;
  position: absolute;
  top: 10%;
  right:19%;
}

.option-btn[data-option="paper"] {
  grid-area: paper;
  position: absolute;
  top: 70%;
  right: 74%;
  
}


.option-btn[data-option="rock"] {
  grid-area: rock;
  position: absolute;
  top: 152%;
  left: 135%
}

.option-btn[data-option="lizard"] {
  grid-area: lizard;
  position: absolute;
  top: 55%;
  right: 20%;

}

.option-btn[data-option="spock"] {
  grid-area: spock;
  position: absolute;
  top: -25%;
  left: -75%;

}






.attribution { 
  position: absolute;
  font-size: 11px; 
  text-align: center;
  left: 40%;
  bottom: 5%;
  
 }


.attribution a { color: hsl(228, 45%, 44%); }